<div class="container-fluid" style="margin-top: 24px; margin-bottom: 50px;">
  <h4 style="color: #337ab7">Project Details</h4><br>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="form-control-label col-sm-2" for="pwd" style="font-weight: 600;">Company Name :</label>
      <label class="form-control-label col-sm-4"> {{b}}</label>
      <br>
      <label class="form-control-label col-sm-2" for="pwd" style="font-weight: 600;">Company Address :</label>
      <label class="form-control-label col-sm-4"> {{c}}</label>
    </div>
  </form>
  <mat-card>
      <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <div class="col-md-9">
            <span style="display: inline-flex !important">
              <h5 style="color: #337ab7; margin-top: 3%"><strong>Projects</strong></h5>
              <button type="button" style="height: 35px;margin-left: 10px" (click)="openDialog()"
                class="btn btn-primary">
                <!-- <i class="fa fa-plus" style="font-size:14px; padding-right: 9px"></i> -->
                Add New
                </button>
            </span>
          </div>
          <div class="col-md-3 col-md-offset-0">
                  <div class="input-group mb-2 input-group-sm">
                     <div class="input-group-prepend">
                       <span class="input-group-text">Search</span>
                    </div>
                    <input type="text" placeholder="search" [(ngModel)]="searchText" class="form-control" >
                  </div>
              </div>
        </mat-card-header>
    <mat-card-content>
      <div class="card-text">
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead class="table-active">
              <tr>
                <th>Project Name</th>
                <th>Project Code</th>
                <th>Project Vendor</th>
                <th>Project Start Date</th>
                <th>Project Duration</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let element of appservice.viewProjectsList | orderBy: descending | filter:searchText | paginate: {itemsPerPage:6, currentPage:p}; let i = index">
              <tr>
                <td (click)="managerview(element);" style="color:blue !important; cursor: pointer;">{{element.projectName}}</td>
                <td>{{element.projectCode}}</td>
                <td>{{element.projectVendor}}</td>
                <td>{{element.projectStartDate}}</td>
                <td>{{element.projectDuration}}</td>
                <td>{{element.description}}</td>
                <td>
                  <button type="button" 
                    style="height:32px; padding:0px 12px 0px 12px;" class="btn btn-info"
                    (click)="receipt(element);openEditDialog()">
                    <!-- <i class="fa fa-pencil-square-o"style="font-size:18px"></i> -->
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls class="pagination justify-content-end" (pageChange)="p=$event" class="page-item">
            </pagination-controls>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>