
    a {
      color: #777777;}
      a:hover {
        color: #dc3545;}
        .navbar-nav li a:focus,.navbar-nav li a i:focus { color:green }
     
    hr {
      margin-top: 0.75rem;
    }
    .nav-link {
      display: block;
      padding: 1rem 1rem;
      font-size:0.9rem;
    }
    